.heroSections {
	background: linear-gradient(
		0deg,
		rgba(0, 74, 173, 0.6) 0%,
		rgba(255, 255, 255, 1) 100%
	);
	padding: 4rem;
}

.heroSectionsTitle {
	font-size: 62px;
	font-family: "Staatliches", cursive;
	font-weight: 500;
	text-transform: uppercase;
}

.heroSectionsTitle span {
	color: #004aad;
}
.heroSections p {
	font-family: "Poppins", sans-serif;
	font-size: 17px;
}
.heroSectionsBanner {
	margin-top: -2rem;
}

.followedBoxTitle {
	color: #ff8a00;
	font-family: "Staatliches", cursive;
	font-size: 62px;
	font-weight: 500;
	text-align: center;
}

.followedItemBox {
	padding: 0 3rem;
	margin-top: 1.5rem;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}
.followedItemBox p {
	color: #fff;
	font-family: "Staatliches", cursive;
	font-size: 20px;
	font-weight: 500;
	min-width: 150px;
	margin: 0 10px;
	text-transform: uppercase;
}
.followedItemBox span {
	color: #ff8a00;
	font-family: "Staatliches", cursive;
	font-size: 68px;
	font-weight: 500;
	margin: 0 10px;
	text-transform: uppercase;
}
.work_container {
	padding: 0 4rem;
}
.work_item {
	display: flex;
	align-items: center;
	background: #1f1b28;
	margin: 1.5rem 0;
	border-radius: 15px;
}
.work_item img {
	margin-right: 10px;
}
.work_item h4 {
	color: #ff8a00;
	font-family: "Staatliches", cursive;
	font-size: 24px;
	text-transform: uppercase;
	font-weight: 500;
}
.work_item p {
	color: #fff;
	font-family: "Poppins", sans-serif;
	font-size: 13.5px;
	font-weight: 500;
}

.title {
	font-family: "Staatliches", cursive;
	font-size: 46px;
	font-weight: 500;
	text-transform: uppercase;
	margin-top: 1.5rem;
}

.bodyText {
	font-family: "Poppins", sans-serif;
	font-size: 13.5px;
	color: #010101;
	padding: 10px;
}
.list {
	font-family: "Poppins", sans-serif;
	font-size: 13.5px;
	color: #010101;
	padding: 0 10px;
	margin-left: 1.5rem;
	margin-bottom: 1rem;
}

.programsSec {
	width: 80%;
	margin: auto;
}
.program_box {
	padding: 2rem 3rem;
	display: flex;
	justify-content: center;
}
.program_box img {
	margin-right: 3rem;
}
.program_box h3 {
	font-size: 61px;
	font-family: "DM Serif Display", serif;
	font-weight: 500;
}
.program_box p {
	font-size: 14.5px;
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	max-width: 80%;
}

@media (max-width: 1200px) {
	.program_box p {
		max-width: 100%;
	}
	.programsSec {
		width: 95%;
	}
}

@media (max-width: 970px) {
	.program_box {
		flex-wrap: wrap;
	}
	.program_box img {
		margin: 2rem 0;
	}
}
@media (max-width: 890px) {
	.followedItemBox {
		padding: 0;
	}
	.followedItemBox span {
		font-size: 50px;
	}
	.heroSectionsBanner {
		margin-top: 2rem;
	}
	.heroSections {
		padding: 4rem 2rem;
	}
}
@media (max-width: 740px) {
	.followedItemBox {
		grid-template-columns: repeat(2, 1fr);
	}
	.followedItemBox > p {
		margin: 1rem 10px;
	}
	.followedItemBox span {
		margin-top: 10rem;
		margin-bottom: 10rem;
	}
	.followedItemBox span + p {
		margin-top: 5px;
		margin-bottom: 5px;
	}
	.work_container {
		padding: 0 1rem;
	}
	.programsSec {
		width: 100%;
	}
	.articleImg {
		width: 100%;
	}
}
@media (max-width: 500px) {
	.heroSections {
		padding: 4rem 0;
	}
	.followedBoxTitle {
		font-size: 50px;
	}
	.followedItemBox {
		grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
	}
	.work_container {
		padding: 0 6px;
	}
	.work_item {
		flex-wrap: wrap;
		padding: 10px;
	}
	.work_item img {
		margin: 1rem auto;
	}
	.program_box img {
		width: 100%;
		height: auto;
	}
	.program_box {
		padding: 2rem 10px;
	}
}
@media (max-width: 390px) {
	.program_box h3 {
		font-size: 40px;
	}
	.heroSections .heroSectionsTitle {
		font-size: 50px;
	}
	.heroSections p {
		font-size: 15px;
	}
	.followedItemBox {
		padding: 0;
		text-align: center;
	}
	.followedItemBox > div {
		margin-top: 1rem;
	}
}
